@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Alkatra', cursive;
}
.hd{
  height: 90px;
  width: 100%;
  background-color: black;
  background-image: url(pictures/unnamed.png);
  background-repeat: no-repeat;
  background-blend-mode: screen;
  background-size: 90px;

}
.hd li{
    display: inline-block;
    
}
.list{
    display: flex;
    justify-content: right;
    font-size: 15pt;
    position: relative;
    bottom: 60px;
}

.list a{

    color: white;
    text-decoration: none;
    padding: 10px;
    
}
.list a:hover
{
    background-color: white;
    color: black;
    border-radius: 30px;
}
.mm{
    color: rgb(227, 230, 232);
    padding: 20px;
    margin-left: 80px;
    
    
}
.mid{
   /* background: #57595aaf; */
   background-image: url(pictures/main2.jpg);
   display: flex;
   background-blend-mode: overlay;
   
   /* background: linear-gradient(135deg, #a8acaf, #302e31); */
   height:110vh;
   width: 100%;
   background-size: 50%;
   background-repeat: no-repeat;
   background-position: center;
   text-align: center;
   text-decoration: none;
   align-content: center;
   justify-content: center;
    
    
}
.mbox{
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    margin-top: 30px;
    width: 400px;
    /* width: 100%; */
    background:rgba(0, 0, 0, 0.829);
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(250, 247, 247, 0.813);
    height: 700px;
    color: white;
    
}
.mbox .title
{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.mbox .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 700px;
    border-radius: 5px;
    background:10px rgb(249, 246, 246);
}
.content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: 400px;
  }
  form .user-details .PASSWORD{
    margin-bottom: 15px;
    width: 400px;
  }
  form .user-details .CPASSWORD{
    margin-bottom: 15px;
    width: 400px;
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 1px;
    padding-left: 15px;
    border-bottom: 2px solid #faf7f7;
    /* border-bottom-width: 2px; */
    /* transition: all 0.3s ease; */
    background-color: rgba(255, 222, 173, 0);
    color: white;
  }
  .user-details .input-box textarea{
    height: 75px;
    width: 100%;
    outline: none;
    font-size: 16px;
    padding-left: 15px;
    border: none;
    border-radius: 1px;
    padding-left: 15px;
    border-bottom: 2px solid #f8f1f1;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background-color: rgba(255, 222, 173, 0);
    color: white;
  }
  
  form .DOB span.DOB-details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    position: relative;
    top: 10px;
    left: 0px;
  }
  .user-details .DOB input{
    height: 45px;
    width: 100px;
    position:relative;
    top: 30px;
    left: 0px;
    outline: none;
    font-size: 16px;
    border: none;
    border-radius: 1px;
    padding-left: 15px;
    border-bottom: 2px solid #efeded;
    /* border: 2px solid #090909; */
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    background-color: rgba(255, 222, 173, 0);
    color: white;
  }
  .user-details .month{
    height: 45px;
    width: 100px;
    position:relative;
    top: 30px;
    left: 0px;
    outline: none;
    font-size: 16px;
    border: none;
    border-radius: 1px;
    padding-left: 15px;
    border-bottom: 2px solid #f8f4f4;
    transition: all 0.3s ease;
    background-color: rgba(255, 222, 173, 0);
    color: white;
  }
  form .PASSWORD span.PASSWORD-details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .PASSWORD input{
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 1px;
    padding-left: 15px;
    border-bottom: 2px solid #faf7f7;
    /* border-bottom-width: 2px; */
    /* transition: all 0.3s ease; */
    background-color: rgba(255, 222, 173, 0);
    color: white;
  }
  form .CPASSWORD span.CPASSWORD-details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .CPASSWORD input{
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 1px;
    padding-left: 15px;
    border-bottom: 2px solid #faf7f7;
    /* border-bottom-width: 2px; */
    /* transition: all 0.3s ease; */
    background-color: rgba(255, 222, 173, 0);
    color: white;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
     height: 45px;
     margin: 35px 0;
     
    
   }
   form .button input{
    display: flex;
    position: relative;
    justify-content: center;
    left: 70px;
     height: 100%;
     width: 250px;
     border-radius: 5px;
     border: none;
     color:white;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: black;
     text-align: right;
     align-content: center;
   }
   form .button2{
    height: 45px;
    margin: 35px 0;
    
   
  }
  form .button2 input{
   display: flex;
   position: relative;
   top: -80px;
    justify-content: center;
   left: 400px;
    height: 100%;
    width: 250px;
    border-radius: 5px;
    border: none;
    color: #0c0c0c;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #d1e0d2, #4297de);
    text-align: right;
    align-content: center;
  }
   form .button input:hover{
    color: rgb(8, 8, 8);
    background: white;
    }
    form .button2 input:hover{
        color: white;
        background: linear-gradient(-135deg,#5a7a5a,  #690bd4);
        }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }

    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }
  