
body {
  /* font-family: 'Alkatra', cursive; */
  margin: 20px;
  border: 5px solid black;
  border-radius: 20px;
  padding: 20px;
  /* background-image: url(seal.png);
  background-position:800px;
    background-size: 10%;
    background-repeat: no-repeat;
    background-blend-mode:soft-light; */
    line-height: 30.5px;
}
img{
  height: 150px;
  width: 150px;
  position: relative;
  top:-160px;
  left: 900px;
}
h1 {
  color: #333;
}

p {
  color: #666;
}

.print{
  background-color: #030303;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  position: relative;
  left: 400px;

}
.print:hover{
  color:rgb(15, 15, 15);
  background-color: rgb(246, 241, 241);
}
h1{
  letter-spacing: 2px;
  text-align: center;
  font-size: 40pt;
  padding-bottom: 10px;
  border-bottom: 5px solid black;
}
p{
  padding: 50px;
  text-align: left;
  justify-content: center;
}

@media print {
  .print {
    display: none;
  }
}
span{
  padding-left: 15px;
}